.table-navy {
  background-color: #001f54;
}

.deleted-tenant {
  background-color: lightcoral !important; /* Ensures override */
}

.table-navy th {
  color: white;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.btn-navy {
  background-color: #001f54;
  color: white;
}
.btn-navy-border{
  border-color: #001f54;
}

.btn-navy:hover {
  background-color: #003580;
  color: white;
}

.btn-outline-navy {
  border-color: #001f54;
  color: #001f54;
}

.btn-outline-navy:hover {
  background-color: #001f54;
  color: white;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-dialog {
  margin-top: 50px;
  margin-right: 150px;
}

.modal-content {
  z-index: 1051;
  background-color: #fff;
  border-radius: 8px;
}

/* Custom scrollbar */
.table-responsive::-webkit-scrollbar {
  width: 6px; /* Set the scrollbar width */
}

.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #001f3f; /* Navy blue thumb */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #004080; /* Lighter navy blue on hover */
}
